<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title> BugTracker - {{ title }} </title>
    {% else %}
        <title> BugTracker </title>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bugTracker.min.css' %}">
</head>
<body>

  <div class="main-wrapper">

    <div class="sidebar">
      <div id="logo">
        <a href="{% url 'tickets:home'%}"><span>BUG</span>Tracker</a>
      </div>

      <ul>
        <li> <a href="{% url 'tickets:home'%}">
          <img src="{% static 'images/home.png' %}"/>
          Home
        </a>
       </li>
        <li>
          <a href="{% url 'tickets:tickets'%}">
            <img src="{% static 'images/ticket.png' %}"/>
            Tickets
          </a>
        </li>
        <li>
           <a href="{% url 'users:account'%}">
             <img src="{% static 'images/user.png' %}"/>
             Account
           </a>
         </li>
        <li>
          <a href="{% url 'tickets:settings'%}">
            <img src="{% static 'images/settings.png' %}"/>
            Settings
          </a>
        </li>
      </ul>

      <div id="logout-wrapper">
      <a id="logout" href="{% url 'logout'%}"><img src="{% static 'images/logout.png' %}"/>Sign out</a>
      </div>
    </div>

    <div class="cntn">
        {% block content %}{% endblock %}
    </div>

  </div>

</body>
</html>
