{% extends "base_home.html" %}

{% block content %}

<div class="ticket-container">

    {% if role == "TST" %}
    <h1>Resolved and closed tickets</h1>
    {% elif role == "DEV" %}
    <h1>Your associated tickets</h1>
    {% else %}
    <h1>Your created tickets</h1>
    {% endif %}

    {% for ticket in tickets %}
        <div class="ticket">
            <h1>Bug Ticket</h1>
            <h3>Description:<h3>
            <p>{{ticket.description}}</p>
            <h2 class="status">Status: {{ticket.status}}</h2>
            <h2 class="priority">Priority: <span class="{{ticket.priority}}">{{ticket.priority}}</span></h2>

            <a href="../details/{{ticket.id}}" class="btn">Open Ticket</a>
        </div>
    {% endfor %}
    {% if tickets|length == 0 %}
    <h2 id="noTicket">You have no tickets associated with your account</h2>
    {% endif %}


    {% if messages %}
      {% for message in messages %}
        <div class="message"><h3>{{ message }}</h3></div>
      {% endfor %}
    {% endif %}

    <a id="create" href="../create" class="btn">Create a Ticket</a>

</div>

{% endblock %}
