{% extends "base.html" %}

{% block content %}

<div id="login-background">

  <div id="login-container">
    <div id="login-form">

      <div id="form-view">
        {% load staticfiles %}
        <img src="{% static 'images/office.png' %}"/>
        <p><span>BUG</span>Tracker</p>
      </div>

      <div id="form-content">
        <div id="hero">
          <h1>Welcome</h1>
          <p><b>login</b> below to the service.</p>
        </div>

        <form method="post">
          {% csrf_token %}
          <input id="usernameInput" type="text" name="username" placeholder="Username" maxlength="16"><br>
          <input id="passwordInput" type="password" name="password" placeholder="Password" maxlength="150"><br>
          <input class="btn" type="submit" value="Login"><br>
          <a href="{% url 'password_reset' %}"> Forgot your password?</a>
        </form>

      </div>
    </div>

      {% if form.errors %}
        <script src="{% static 'js/login.js' %}"></script>
      {% endif %}

  </div>

</div>

{% endblock %}
