{% extends "base.html" %}

{% block content %}

<div id="login-background">

  <div id="login-container">
    <div id="password-form">

      <form method="post">
      {% csrf_token %}
        <h1> Please enter your email below </h1>
          <p>{{ form.email }}</p>
        <input type="submit" class="btn" value="Reset password">
      </form>
      {% if form.email.errors %}
        {% load staticfiles %}
        <script src="{% static 'js/pass_reset.js' %}"></script>
      {% endif %}
      </div>
    </div>


</div>
{% endblock %}
