{% extends "base.html" %}

{% block content %}


<div id="login-background">

  <div id="login-container">
    <div id="password-form">

    {% if validlink %}
        <h1>Please enter your new password.</h1><br>
        <form method="post">
        {% csrf_token %}

          {{ form.new_password1 }}
          {{ form.new_password2 }}<br>
          <input type="submit" class="btn" value="Change my password" />

          {{ form.new_password1.errors }}
          {{ form.new_password2.errors }}
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

      </div>
    </div>

  </div>

  {% load staticfiles %}
  <script src="{% static 'js/reset_confirm.js' %}"></script>

{% endblock %}
